@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100dvh;
    @apply bg-light-body dark:bg-dark-body text-light-text dark:text-dark-text
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-light-title dark:text-dark-title
  }
}

@layer components {
  #root {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer"
    ;

    header {
      grid-area: header;
    }

    main {
      grid-area: main;
    }

    footer {
      grid-area: footer;
    }
  }
}